.container {
    max-width: 1340px !important;
}

.burger-card {
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    font-weight: 700;
    font-size: .8rem;
    cursor: pointer;
    color: #d6d6d6;
}

.purple {
    color: #a7a2ee;
    border: 1px solid #a7a2ee;
}

.text-dark-purple {
    color: #605e8f;
}

.btn-green {
    color: #fff;
    background-color: #25dc99;
    outline: none;
    &:active,
    &:not(:active),
    &:hover {
        color: #fff;
        background-color: #25dc99;
        outline: none;
    }
}

.light-purple {
    background: #edecfc;
    border: 1px solid #edecfc;
    border-radius: 9px;
    outline: none;
}

.btn-purple {
    color: #fff;
    background-color: #29276a;
    &:active,
    &:hover {
        color: #fff;
    }
}

input:active,
input:focus,
select:active,
select:focus {
    box-shadow: none !important;
    outline: none !important;
}

.error-text {
    font-size: .8rem;
}