.logo-container {
    width: 8rem;
    height: 2.3rem;
    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.navbar a {
    color: #fff !important;
}

.btn.btn-outline-light {
    &:hover,
    &:active {
        color: #29276a !important;
    }
}